h1, 
h2,
h3 {
    /* This styles any headers*/
      font-family: "Cutive Mono", monospace, 'Courier New', Courier;
      color: lightgrey;
      padding: 10px;
      font-size: 400%;
}
p {
    font-family: "Cutive Mono", monospace, 'Courier New', Courier;
    color: whitesmoke;
    padding: 10px;
    display: flex;
}

.textPosition {
    position: relative;
    bottom: 20%;
    width: 100%;
}

.slides{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: left;
    gap: 50%;
}
.container {
    width: 100%;
    height: 100vh;
}
.imagePosition{
    position: center;
}

.table{
    /*This styling applies to all apsects of the table*/
    color: black;
    display: flex;
    background-color: white;
} 


.table th{
    /* This styles the table headers*/
    padding: 10px;
    font-size: 100%;
    color: black;
}

.table td{
    /* This styles the table content*/
    padding: 10px;
    font-size: 100%;
    color: black;
}

.table tr{
    /* This styles the table rows*/
    width: 50%;

}

.mask1 {
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}