{% extends "danielngira/base.html" %}
{% block content %}
<div class = container>
<p>
    <!--You can make classes in CSS that will be used to change properties of 
    the text you call that class with
    I have been able to Center my name with a bootstrap tag, I also placed my 
    text towards the bottom of the screen and I am trying to add an image to the 
    website-->

<h2 class="textHeader 'blockquote text-center' slides">
    DANIEL NGIRA
 </h2>
</p>
<p class="bodyText textPosition slides">
    I’m a second-year Computer Science major at the University of Chicago.<br> 
    My main areas of interes are Machine Learning and Computer Vision.<br>
    That’s when I’m not reading Dostoyevsky!<br>
    You can view my skillset here!
 </p>
<h2 class="textHeader text-center">My Projects</h2>
<table class="slides table">
    <tr>
        <th>Reversi</th>
        <th>WatchBuddies</th>
        <th>ChiGame</th>
    </tr>
    <tr>
        <td>Made a game of reversi with Python</td>
        <td>Made a social watching app</td>
        <td>Made a gaming platform</td>
    </tr>
</table>

<div class = "slides imagePosition">
{% load static %}
<img src="{% static 'images/IMG_2534.png' %}" alt="My image">
</div>
</div>
{% endblock content %}

